django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
requests
django-filter
openai
pydotplus
# python3 manage.py graph_models -a -o schema3.png        
django-extensions
django-extensions graphviz
